* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.395em;

    @media (min-width: 425px) {
        font-size: 21px;
    }
}

p, span, a {
    font-size: 14px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}